body {
  background-color: aliceblue;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  text-decoration: none;
  color: red;
}
form {
  max-width: 500px;
  margin: auto;
  padding: 30px 25px;
  background-color: #fff;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

label {
  display: block;
}
input {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.btn-submit {
  color: #ffff;
  background-color: green;
  cursor: pointer;
  font-size: 18px;
  border: 0;
}
.dashboard-container{
  max-width: 500px;
  margin: 0 auto 20px;
}
h2{
  font-family: 'Times New Roman', Times, serif;
}
.dashboard-container h2 {
  text-align: center;
}
ul.data-list {
  list-style-type: none;
 
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 20px;
}
ul.data-list li {
  border-bottom: 1px solid lightgrey;
  padding: 15px 0;
  text-align: left;
}
ul.data-list li h3{
  margin: 0 0 20px 0;
  color: blueviolet;
  font-family: monospace;
}
ul.data-list li p{
  margin: 0 0 15px 0;
}
ul.data-list li p:last-child{
  margin: 0;
}

ul.data-list li:last-child {
  border-bottom: none;
}
.bottom-links{
  display: flex;
  justify-content: space-between;
}
.bottom-links p{
  margin: 0;
}
